<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/style.css" rel="stylesheet">
    <title>GetYourQR_CodeNow</title>
</head>
<body>
    <div class="main">
        <div class="formElement">
            <form method="POST" action="/submit">
                <label for="text">Enter a link here : </label>
                <input type="text" id="text" name="text"><br>
                <button type="submit">Enter</button>
            </form>
        </div>
        <div>
            <% if(locals.text){ %>
                <a href=<%=text%> download>
                    <img src=<%=text%> alt="" title="Click to download" />
                </a>
            <% }else{ %>
                <img src="images/default.jpg" width="700" height="500">
            <% } %>
        </div>
    </div>
    <div class="foot">    
        <footer>
            Made by <a href="https://github.com/AtharvaGupta28" target="_blank">Atharva Gupta</a>.
        </footer>
    </div>
</body>
</html>